@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baby-blue: #89CFF0;
}

body {
  background-color: var(--baby-blue);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fadeInOut 1s ease-in-out infinite;
}

